---
layout: default
---

<div class="home">

  <figure style="text-align:center;">
    <img src="{{ site.baseurl }}/assets/alexnet_small.png" alt="alexnet">
    <caption><a href="http://papers.nips.cc/paper/4824-imagenet-classification-w" target="_blank">AlexNet [A Krizhevsky, 2012]</a></caption>
  </figure>

  <p>このページはDeep Learningモデルを使って画像認識をする方法を一通り学ぶ初心者向け実習教材として作られました。
    ここではPython環境で<a href="https://github.com/BVLC/caffe" target="_blank">Caffeフレームワーク</a>を利用して画像認識モデルを学習、評価する方法を学ぶことができます。</p>

  <h1 class="page-heading">準備</h1>
  <ul class="post-list">
    {% assign posts = site.categories.python | sort: "title" %}
    {% for post in posts %}
      <li>
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </li>
    {% endfor %}
  </ul>

  <h1 class="page-heading">画像認識</h1>
  <ul class="post-list">
    {% assign posts = site.categories.caffe | sort: "title" %}
    {% for post in posts %}
      <li>
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </li>
    {% endfor %}
  </ul>

  <h1 class="page-heading">その他</h1>
  <ul class="post-list">
    {% assign posts = site.categories.misc | sort: "title" %}
    {% for post in posts %}
      <li>
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </li>
    {% endfor %}
  </ul>

  <h2>参考</h2>
  <ul>
    <li><a href="https://docs.google.com/presentation/d/138eN9PkWeuGKi7xORgVVbDpbemv5pvLo7_5HvWpaejU/edit?usp=sharing" target="_blank">スライド資料</a></li>
    <li><a href="http://caffe.berkeleyvision.org/" target="_blank">Caffe deep learning framework</a></li>
    <li><a href="http://cs231n.github.io/" target="_blank">Stanford CS231n: Convolutional Neural Networks for Visual Recognition</a></li>
  </ul>

  <!--<p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>-->

</div>
